@import "./global.css";

/** common **/
/* fonts */
.heading-L {
  font-family: "Fraunces";
  font-size: 8rem;
  font-weight: 600;
  line-height: 8rem;
}

.heading-M {
  font-family: "Fraunces";
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 6.4rem;
}

.heading-S {
  font-family: "Fraunces";
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
}

.body {
  color: var(--Dark-Purple);
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
}

/* button */
.button {
  background-color: var(--Eucaplyptus);
  color: var(--Dark-Purple);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.018rem;
  text-align: center;
  border: 0.2rem solid var(--Eucaplyptus);
}

.button:hover {
  background-color: var(--Dark-Purple);
  color: var(--Eucaplyptus);
}

/** Layout **/
body {
  color: var(--Dark-Purple);
  font-size: 1.8rem;
}

header {
  background-color: var(--Dark-Purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.6rem 16.5rem;
}

.apply-button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--White);
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.018rem;
}

.apply-button:hover {
  color: var(--Eucaplyptus);
}

main {
  display: flex;
  flex-direction: column;
}

/** top section **/
.top-section {
  background-image: url("/assets/images/bg-radius1.svg");
  background-position: bottom;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.7rem;
}

.header button {
  color: var(--White);
  font-weight: 700;
  letter-spacing: -0.018rem;
}

.bg-pattern1 {
  position: absolute;
  left: -15rem;
  top: -3rem;
}

.bg-pattern2 {
  position: absolute;
  right: -6rem;
  bottom: 18rem;
}

.hero-title {
  color: var(--White);
  text-align: center;
}

.highlight {
  text-decoration: underline;
  text-decoration-color: var(--Eucaplyptus);
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 1rem;
}

.learn-more {
  padding: 1.3rem 3.25rem;
}

.hero-image {
  margin-bottom: -18rem;
  width: 70.2rem;
}

/** section 1 **/
.section-1 {
  padding: 26rem 16.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}

.introduction-message {
  width: 35.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction-content {
  display: flex;
  flex-direction: column;
}

.circle {
  position: relative;
  min-width: 5.6rem;
  min-height: 5.6rem;
  border-radius: 50%;
  border: 0.1rem solid var(--Dark-Purple);
  margin-bottom: 5.6rem;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 4rem;
}

.introduction-title {
  margin-bottom: 2.8rem;
}

.introduction-description {
  text-align: center;
}

/** section 2 **/
.section-2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 0 16.5rem;
}

.founder-image {
  width: 47.7rem;
  position: relative;
}

.section2-content-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  width: 73rem;
  background-color: var(--Dark-Purple);
  padding: 6.4rem;
  position: relative;
  top: 15rem;
  left: -9rem;
}

.section2-content-title {
  color: var(--White);
}

.section2-content-description {
  color: var(--White);
}

.apply-button {
  background-color: var(--Eucaplyptus);
  color: var(--Dark-Purple);
  padding: 1.6rem 2.5rem;
}

.bg-pattern3 {
  position: absolute;
  bottom: -6rem;
  right: 8rem;
}

/** footer **/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.8rem;
  margin: 25rem 0 11rem 0;
}

.sns-icons {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.facebook-icon {
  background-image: url("/assets/images/icon-facebook.svg");
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}

.twitter-icon {
  background-image: url("/assets/images/icon-twitter.svg");
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}

.instagram-icon {
  background-image: url("/assets/images/icon-instagram.svg");
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
